{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <!-- skin JPlayer -->
    <link rel="stylesheet" href="{{ asset('css/jplayer/skin/circle.player.css') }}">
{% endblock %}

{% block body %}
        <article class="row">

            {% for channel in channels %}
                <aside class="col-lg-3 my-5">
                    <div class="js-channel-container mb-4">
                        <img class="card-img-top" src="{{ asset(channel.logoPath) }}" alt="logo {{ channel.name }}">
                        <div id="jquery_jplayer_{{ channel.id }}" class="cp-jplayer"></div>
                        <div id="cp_container_{{ channel.id }}" class="cp-container">
                            <ul class="cp-controls">
                                <li><a class="cp-play" tabindex="1">play</a></li>
                                <li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li>
                            </ul>
                        </div>
                        <div class="card-body text-center">
                            <a href="{{ channel.website }}" target="_blank">{{ channel.name }}</a>
                            <p>{{ channel.location }}...</p>
                        </div>
                    </div>
                </aside>
            {% endfor %}

        </article>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- js JPlayer -->
    <script src="{{ asset('js/jplayer/jquery.jplayer.min.js') }}"></script>
    <script src="{{ asset('js/jplayer/skin/jquery.transform2d.js') }}"></script>
    <script src="{{ asset('js/jplayer/skin/jquery.grab.js') }}"></script>
    <script src="{{ asset('js/jplayer/skin/mod.csstransforms.min.js') }}"></script>
    <script src="{{ asset('js/jplayer/skin/circle.player.js') }}"></script>

    <script>
        $(document).ready(function() {

            {% for channel in channels %}

            var stream{{ channel.id }} = {
                    title: "{{ channel.name }}",
                    mp3: "{{ channel.link }}",
                    poster: "{{ asset(channel.logoPath) }}"
                },
                ready = false;
            var myCirclePlayer{{ channel.id }} = new CirclePlayer("#jquery_jplayer_{{ channel.id }}",
                stream{{ channel.id }},
                {
                    cssSelectorAncestor: "#cp_container_{{ channel.id }}",
                    swfPath: "jplayer",
                    supplied: "mp3",
                    preload: "none",
                    wmode: "window",
                    useStateClassSkin: true,
                    autoBlur: false,
                    keyEnabled: true,

                    ready: function () {
                        ready = true;
                        $(this).jPlayer("setMedia", stream{{ channel.id }});
                    },
                    pause: function() {
                        $(this).jPlayer("clearMedia");
                    },
                    error: function(event) {
                        if(ready && event.jPlayer.error.type === $.jPlayer.error.URL_NOT_SET) {
                            // Setup the media stream again and play it.
                            $(this).jPlayer("setMedia", stream{{ channel.id }}).jPlayer("play");
                        }
                    },
                });

        {% endfor %}

            $('.cp-play').click(function () {
                $('.js-channel-container').removeClass('active');
                $(this).parent().parent().parent().parent().addClass('active');
            });

            $('.cp-pause').click(function () {
                $('.js-channel-container').removeClass('active');
            });
        });
    </script>
{% endblock %}
