{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <!-- skin JPlayer -->
    <link rel="stylesheet" href="{{ asset('css/jplayer/skin/circle.player.css') }}">
{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                {% for channel in channels %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{ asset(channel.logoPath) }}" alt="logo {{ channel.name }}">
                            <div class="card-body">
                                <div id="jquery_jplayer_{{ channel.id }}" class="cp-jplayer"></div>
                                <div id="cp_container_{{ channel.id }}" class="cp-container">
                                    <ul class="cp-controls">
                                        <li><a class="cp-play" id="play"  tabindex="1">play</a></li>
                                        <li><a class="cp-pause" id="pause" style="display:none;" tabindex="1">pause</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- js JPlayer -->
    <script type="text/javascript" src="{{ asset('js/jplayer/jquery.jplayer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jplayer/skin/jquery.transform2d.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jplayer/skin/jquery.grab.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jplayer/skin/mod.csstransforms.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jplayer/skin/circle.player.js') }}"></script>

    {% for channel in channels %}
        <script type="text/javascript">
            $(document).ready(function() {
                $(document).ready(function() {
                    var stream{{ channel.id }} = {
                            title: "{{ channel.name }}",
                            mp3: "{{ channel.link }}",
                            poster: "{{ asset(channel.logoPath) }}"
                        },
                        ready = false;
                    var myCirclePlayer{{ channel.id }} = new CirclePlayer("#jquery_jplayer_{{ channel.id }}",
                        stream{{ channel.id }},
                        {
                            cssSelectorAncestor: "#cp_container_{{ channel.id }}",
                            swfPath: "jplayer",
                            supplied: "mp3",
                            preload: "none",
                            wmode: "window",
                            useStateClassSkin: true,
                            autoBlur: false,
                            keyEnabled: true,

                            ready: function (event) {
                                ready = true;
                                $(this).jPlayer("setMedia", stream{{ channel.id }});
                            },
                            pause: function() {
                                $(this).jPlayer("clearMedia");
                            },
                            error: function(event) {
                                if(ready && event.jPlayer.error.type === $.jPlayer.error.URL_NOT_SET) {
                                    // Setup the media stream again and play it.
                                    $(this).jPlayer("setMedia", stream{{ channel.id }}).jPlayer("play");
                                }
                            },
                        });
                });
            });
        </script>
    {% endfor %}
{% endblock %}
